{% extends 'plantilla.html' %}

{% block title %} Inscripciones {% endblock %}
{% block body %}
    <div class="titulo-Az">
        <h2>Lista de Inscripciones</h2>
    </div>
    
    <div class="btn-agregar">
    </div>

    <div class="barra-superior">
    <div class="acciones-superior">
        <a href="{% url 'exportar_inscripciones_excel' %}" class="btn-excel">Exportar Excel</a>

        <a href="{% url 'crear_inscripcion' %}" class="btn-nuevo-alumno">Nueva Inscripción</a>
    </div>

</div>
    <div class="card-individual">
        <div class="tabla-individual">
            <table>
                <thead>
                    <tr>
                        <th class="Az">Alumno</th>
                        <th class="Ama">Grupo</th>
                        <th class="Ver">Fecha inscripción</th>
                        <th class="Az">Estatus</th>
                        <th class="Ama">Fecha baja</th>
                        <th class="az">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for inscripcion in inscripciones %}
                    <tr>
                        <td>{{ inscripcion.alumno }}</td>
                        <td>{{ inscripcion.grupo }}</td>
                        <td>{{ inscripcion.fecha_inscripcion }}</td>
                        <td>{{ inscripcion.estatus }}</td>
                        <td>{{ inscripcion.fecha_baja }}</td>
                        <td>
                            <a href="{% url 'editar_inscripcion' inscripcion.id %}" class="btn-editar">
                                Editar
                            </a>
                            <a href="{% url 'eliminar_inscripcion' inscripcion.id %}" class="btn-eliminar">
                                Eliminar
                            </a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="6">
                            No hay inscripciones registradas.
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}




