{% extends 'plantilla.html' %}

{% block title %} Crear curso {% endblock %}
{% block body %}

    <div class="titulo-Ver">
        <h2>Registrar Curso</h2>
    </div>
    

    <form method="post">
        {% csrf_token %}

        <div class="card-individual">
            <div class="tabla-individual">
                    <div class="form-group">
                        {{ form.as_p }}
                    </div>
            </div>
        </div>

        <div class="submit-container">
            <button type="submit" class="btn-guardar">Guardar</button>
            <a href="{% url 'lista_cursos' %}" class="btn-cancelar">Cancelar</a>
        </div>
        
    </form>
{% endblock %}