{% extends 'plantilla.html' %}

{% block title %} Cursos {% endblock %}
{% block body %}
    <div class="titulo-Ama">
        <h2>Lista de Cursos</h2>
    </div>

<div class="barra-superior">

    <div class="acciones-superior">
        <a href="{% url 'exportar_cursos_excel' %}" class="btn-excel">Exportar Excel</a>

        <a href="{% url 'crear_curso' %}" class="btn-nuevo-alumno">Nuevo Curso</a>    
    </div>

</div>

    <div class="card-individual">
        <div class="tabla-individual">
            <table border="1">
        <thead>
            <tr>
                <th class="Az">Nombre</th>
                <th class="Ama">Descripción</th>
                <th class="az">Acciones</th>
            </tr>
        </thead>

        <tbody>
            {% for curso in cursos %}
            <tr>
                <td>{{ curso.nombre }}</td>
                <td>{{ curso.descripcion }}</td>
                <td>
                    
                    <div class="botones-acciones">
                            <a href="{% url 'editar_curso' curso.id %}" class="btn-editar">Editar</a>
                            <a href="{% url 'eliminar_curso' curso.id %}" class="btn-eliminar">Eliminar</a>
                            <a href="{% url 'exportar_curso_excel' curso.id %}" class="btn-descargar">Descargar</a>
                    </div>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3">
                    No hay cursos registrados.
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
        </div>
    </div>
{% endblock %}

