{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<title>{% block title %} Administracion {% endblock %}</title>
</head>
<body>
		
	<header class="header">
		<div class="header-content">
			<img src="{% static 'images/logo.jpg' %}" alt="Logo">
			<h1>Sistema de Administración</h1>
		</div>
	</header>

	<div class="separador-amarrillo"></div>

	<nav class="navbar">
		<ul>
			<li>
				<a href="{% url 'lista_cursos' %}">
					Cursos
				</a>
			</li>

			<li>
				<a href="{% url 'lista_grupos' %}">
					Grupos
				</a>
			</li>

			<li>
				<a href="{% url 'lista_inscripciones' %}">
					Inscripciones
				</a>
			</li>

			<li>
				<a href="{% url 'lista_alumnos' %}">
					Alumnos
				</a>
			</li>
		</ul>
	</nav>

	<main class="container">
		{% block body %}
		{% endblock %}
	</main>

	<footer class="seccion-verde">
		<p>Sistema de Administración</p>
	</footer>
	
</body>
</html>