{% extends 'plantilla.html' %}

{% block title %} Crear grupo {% endblock %}
{% block body %}
    <div class="titulo-az">
        <h2>Registrar Grupo</h2>
    </div>
    
    <form method="post">
        {% csrf_token %}
        <div class="card-individual">
            <div class="tabla-individual">
                <div class="form-group">
                    {{ form.as_p }}
                </div>
            </div>
        </div>

        <div class="submit-container">
            <button type="submit" class="btn-guardar">Guardar</button>
            <a href="{% url 'lista_alumnos' %}" class="btn-cancelar"
            onclick="return confirm('¿Desea cancelar el registro? Los datos capturados se perderán.');">
                Cancelar
            </a>
        </div>
    </form>
{% endblock %}