{% extends 'plantilla.html' %}

{% block title %}Eliminar Grupo{% endblock %}

{% block body %}

<div class="card">

    <div class="titulo-Az">
        <h2>Eliminar Grupo</h2>
    </div>

    <p style="text-align:center; font-size:18px; margin-bottom:25px;">
        ¿Está seguro que desea eliminar el grupo
        <strong>{{ grupo.nombre }}</strong>?
    </p>

    <form method="post">
        {% csrf_token %}

        <div class="submit-container">
            <button type="submit" class="btn-cancelar">
                Confirmar eliminación
            </button>

            <a href="{% url 'lista_grupos' %}"
               class="btn-guardar"
               style="text-decoration:none; display:inline-block; margin-left:10px;">
                Cancelar
            </a>
        </div>

    </form>

</div>

{% endblock %}