{% extends 'plantilla.html' %}

{% block title %} Ver grupos {% endblock %}
{% block body %}
    <div class="titulo-Ver">
        <h2>Lista de Grupos</h2>
    </div>
    
    <div class="btn-agregar">
        
    </div>

    <div class="barra-superior">

    <div class="acciones-superior">
        <a href="{% url 'exportar_grupos_excel' %}"class="btn-excel">Descargar Excel</a>
        
        <a href="{% url 'crear_grupo' %}" class="btn-nuevo-alumno">Nuevo Grupo</a>
    </div>

</div>


<div class="card-individual">
        <div class="tabla-individual">
    <table>
        <thead>
            <tr>
                <th class="Az">Nombre</th>
                <th class="Ama">Curso</th>
                <th class="Ver">Horario</th>
                <th class="Az">Cupo</th>
                <th class="az">Acciones</th>
            </tr>
        </thead>

        <tbody>
            {% for grupo in grupos %}
            <tr>
                <td>{{ grupo.nombre }}</td>
                <td>{{ grupo.curso }}</td>
                <td>{{ grupo.horario }}</td>
                <td>{{ grupo.cupo }}</td>
                <td>
                    <a href="{% url 'editar_grupo' grupo.id %}" class="btn-editar">
                        Editar
                    </a>
                     <a href="{% url 'eliminar_grupo' grupo.id %}" class="btn-eliminar">
                        Eliminar
                    </a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="7">
                    No hay grupos registrados.
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
        </div>
    </div> 
{% endblock %}


