{% extends 'plantilla.html' %}


{% block title %} Eliminar alumno {% endblock %}

{% block body %}
<div class="container mt-5">

    <div class="alert alert-danger">

        <h3>

            ¿Eliminar alumno?

        </h3>

        <p>

            {{ alumno.nombre }}
            {{ alumno.apellido_paterno }}
            {{ alumno.apellido_materno }}

        </p>

        <form method="POST">

            {% csrf_token %}

            <button class="btn btn-danger">

                Sí, eliminar

            </button>

            <a href="{% url 'lista_alumnos' %}"
               class="btn btn-secondary">

                Cancelar

            </a>

        </form>

    </div>

</div>
{% endblock %}
