{% extends 'plantilla.html' %}

{% block title %} Alumnos {% endblock %}

{% block body %}
<div class="titulo-Az">
    <h2>Alumnos Registrados</h2>
</div>
<div class="barra-superior">

    <div class="buscador">
        <label>Buscar Alumno</label>
        <form method="GET">
            <input type="text" name="buscar" value="{{ buscar }}" placeholder="Buscar alumno...">
            <input type="submit" value="Buscar">
        </form>
    </div>

    <div class="acciones-superior">
        <a href="{% url 'exportar_alumnos_excel' %}" class="btn-excel">Exportar Excel</a>

        <a href="{% url 'crear_alumno' %}" class="btn-nuevo-alumno">Nuevo Alumno</a>
    </div>

</div>
<div class="card-individual">
    <div class="tabla-individual">
        <table>
            <thead>
                <tr>
                    <th class="Az">Foto</th>
                    <th class="Ama">Nombre</th>
                    <th class="Ver">Edad</th>
                    <th class="Az">Escuela</th>
                    <th class="Ama">Curso</th>
                    <th class="az">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for alumno in page_obj %}
                <tr>
                    <td>
                        {% if alumno.foto %}
                        <img src="{{ alumno.foto.url }}" alt="Foto">
                        {% endif %}
                    </td>
                    <td>
                        {{ alumno.nombre }}
                        {{ alumno.apellido_paterno }}
                        {{ alumno.apellido_materno }}
                    </td>
                    <td>
                        {{ alumno.edad_calculada }}
                    </td>
                    <td>
                        {{ alumno.escuela }}
                    </td>
                    <td>
                        {% for inscripcion in alumno.inscripciones.all %}
                        {{ inscripcion.grupo.curso.nombre }}<br>
                        {% empty %}
                        Sin inscripción
                        {% endfor %}
                    </td>
                    <td>
                        <div class="botones-acciones">
                            <a href="{% url 'detalle_alumno' alumno.id_alumno %}" class="btn-descargar">Ver</a>
                            <a href="{% url 'editar_alumno' alumno.id_alumno %}" class="btn-editar">Editar</a>
                            <a href="{% url 'eliminar_alumno' alumno.id_alumno %}" class="btn-eliminar">Eliminar</a>
                            <a href="{% url 'descargar_pdf_alumno' alumno.id_alumno %}" class="btn-descargar">Descargar</a>
                        </div>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="6">
                        No hay alumnos registrados
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="paginacion">
    {% if page_obj.has_previous %}
    <a href="?page=1&buscar={{ buscar }}">Primera</a>
    {% endif %}
    <span>{{ page_obj.number }}</span>
    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}&buscar={{ buscar }}">Siguiente</a>
    {% endif %}
</div>
{% endblock %}